html {
  text-align: center;
  font-family: "Lato", "Arial";
  letter-spacing: 0.5px;
}
body {
  display: inline-block;
  width: 210mm;
  align-self: center;
  /* padding: 0.5in; */
  font-size: 8pt;
  line-height: 20px;
}

table {
  text-align: left;
}

tr,
td {
  padding: 5px;
}

h4 {
  text-transform: uppercase;
  font-size: 10pt;
  margin: 0px;
  margin-top: 10px;
}

h4:after {
  display: block;
  height: 2px;
  background-color: rgb(175, 175, 175);
  content: " ";
  margin: 5px 0px 0px 0px;
}

ul {
  padding-inline-start: 15px;
  margin: 0px;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: black;
}

.colspan-2 {
}

.personal-details {
  margin-left: 10px;
}

.pd-row {
  padding: 1px;
}

.icon {
  display: inline-block;
  padding-top: 2px;
  margin-right: 5px;
  color:#c00000;
}

.black {
  color:black;
}

.blue {
  color: #0e76a8;
}

.detail {
  display: inline-block;
  padding: 0px;
  vertical-align: top;
}

.name {
  font-size: 40px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.short {
  background-color: #c00000;
  color: white;
  width: auto;
  height: 100%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: Arial;
  box-shadow: 0px 5px 5px 0px grey;
}

.career-objective-title {
  margin-bottom: 5px;
}

.career-objective-text {
  text-align: justify;
  margin-bottom: 25px;
}

.qualifications {
  vertical-align: top;
  /* border-right: 2px solid #ffe5e5; */
}

.educations {
  width: 25%;
  padding: 5px 10px;
}

.educations:before {
  display: block;
  height: 4px;
  background-color: #ffe5e5;
  content: " ";
}

.training {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: justify;
}

.training-header {
  text-align: end;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.training-title {
  display: block;
  font-weight: bold;
  font-size: 9pt;
}

.training-detail {
  padding: 0px 5px;
  border-right: 1px solid #e0eaff;
}

.bar-graph {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 5px ;
  color:rgb(100, 100, 100);
}

.bar {
  border: 0.5px solid rgb(170, 170, 170);
  margin: 5px 0px;
  background-color: #cce5cc;
  white-space: nowrap;
  border-top: none;
  border-left: none;
}

.bar span {
  margin-left:10px;
}


.experiences {
  width: 50%;
  padding: 5px 15px 5px 10px;
  /* background-color: #cce5cc; */
}

.experiences:before {
  display: block;
  height: 4px;
  background-color: #cce5cc;
  content: " ";
}

.experience {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: justify;
}

.experience-header {
  text-align: end;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.experience-title {
  display: block;
  font-weight: bold;
  font-size: 9pt;
}

.experience-detail {
  padding: 0px 5px;
}

.skills {
  width: 25%;
  background-color: #e5e5ff;
  padding: 5px;
  margin: 0px 5px;
}

.skills:before {
  display: block;
  height: 4px;
  background-color: #e5e5ff;
  content: " ";
}

.skill-section {
  margin: 5px;
}

.skill-title {
  font-weight: bold;
  font-size: 9pt;
}

.skill-subsection {
  margin-top: 10px;
}

.skill-header {
  font-weight: bold;
}

.skill-set {
  width: 100%;
  display: inline-block;
  margin-bottom:5px;
}

.skill-name {
  display: inline-block;
  margin-left: 5px;
  width: 60%;
}

.skill-score {
  display: inline-block;
  float: right;
  text-align: end;
}

.skill-score .dark {
  font-size: 6pt;
}

.skill-score .light {
  font-size: 6pt;
}


ul.lines {
  height: 100%;
  text-decoration: none;
  list-style: none;
  position: relative;
}

.experience-graph {
  width: 90%;
  max-width: 960px;
  height: 220px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}
.line.l--0 {
  left: 0;
}
.line.l--20 {
  left: 20%;
}
.line.l--45 {
  left: 45%;
}
.line.l--70 {
  left: 70%;
}
.line.l--95 {
  left: calc(95% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
  color:rgb(100, 100, 100);
}

.line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid lightgray;
}

@media print {
  .experience {
    margin-top:10px;
  }
  .skill-section {
    padding-top:10px;
  }
}
