.RightSide {
  margin: 20px 10px;
  display: inline-block;
  height: auto;
  width: 62%;
}

@media screen and (max-width: 1024px) {
  .RightSide {
    margin-top: 5px;
    text-align: start;
    padding: 0px;
    width: auto;
  }
}
