.LeftSide {
  display: inline-block;
  margin: 20px;
  height: auto;
  width: 30%;
  float: left;
}

@media screen and (max-width: 1024px) {
  .LeftSide {
    display: inline-block;
    margin: 10px auto;
    height: auto;
    width: auto;
  }
}

@media print {
  .LeftSide {
    display: inline-block;
    margin: 10px auto;
    height: auto;
    width: 204mm;
  }

  .LeftSide::after {
    display: block;
    height: 2px;
    background-color: black;
    content: ' ';
    margin: 10px 0px;
    margin-left: 25px;
    margin-bottom: 0px;
  }
}
