.Content {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px;
}

.Header:after {
  display: block;
  height: 1px;
  background-color: white;
  content: " ";
  margin: 10px 5%;
  margin-bottom: 0px;
}

.Name {
  font-weight: 500;
  font-size: 110%;
}

.Duration {
  font-style: italic;
  font-size: 80%;
}

.Description {
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 3%;
}
