.Content {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 300;
  padding: 15px;
}

.Description {
  text-align: justify;
  text-justify: inter-word;
  margin: 10px 3%;
}

.HeaderPrint {
  display: none;
  visibility: 0;
}

@media screen and (max-width: 1024px) {
  .Content {
    padding: 5px;
    margin: 20px 10px;
  }
}

@media print {
  .Content {
    padding: 0px;
    margin-bottom: 30px;
  }

  .Description {
    font-size: 10pt;
    margin: 10px 10px;
    font-weight: 400;
  }

  .HeaderPrint {
    display: inline-block;
    font-weight: 600;
    font-size: 120%;
    width: 187mm;
    text-align: start;
  }

  .HeaderPrint:after {
    display: block;
    height: 1px;
    background-color: black;
    content: ' ';
    margin: 5px 0;
    margin-bottom: 0px;
  }

  .Header {
    text-align: justify;
    width: 187mm;
  }

  .Header:after {
    display: none;
    visibility: 0;
  }

  .List {
    font-size: 10pt;
    margin: 10px 25px;
    font-weight: 300;
    list-style: disc;
    padding-left: 15px;
    text-align: justify;
  }
  .ListedText {
    padding: 3px 0px;
    text-align: justify;
  }
}
