.SkillSet {
  width: 100%;
  display: inline-block;
  margin: 5px auto;
}

.SkillSet:after {
    display: block;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.25);
    content: " ";
    margin: 5px 20px;
}

.SkillName {
  display: inline-block;
  text-align: start;
  margin-left: 5px;
  width: 60%;
}

.SkillScore {
  display: inline-block;
  text-align: end;
  font-size: 7pt;
}
