.Content {
  margin-top: 20px;
  text-align: left;
}

.Header {
  font-size: 150%;
  font-weight: 300;
}

.Header:after {
  display: block;
  height: 01px;
  background-color: white;
  content: ' ';
  margin: 10px 0px;
  margin-bottom: 0px;
}

.Experiences {
  padding: 5px;
  display: inline-block;
}

.MobileDescription {
  display: inline;
}

@media screen and (max-width: 1024px) {
  .Content {
    /* margin: 10px auto; */
  }
  .MobileDescription {
    display: none;
  }
}

@media print {
  .MobileDescription {
    display: none;
  }

  .Header {
    font-size: 135%;
    font-weight: 600;
  }
}
